{% extends 'base.html' %}
{% block content %}

<div class="accordion settings" id="settings">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    Update Email
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#settings">
            <div class="card-body settings-button">
                <form class="form-inline" method="post" action="{{ url_for('users.user_settings') }}" ,
                      enctype="multipart/form-data">
                    <div class="form-group mx-sm-3 mb-2">
                        {{ email_form.csrf_token }}
                        {{ email_form.name(placeholder=session['email'], class="form-control") }}
                        &nbsp; &nbsp;
                        {{ email_form.submit1(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                    Update Password
                </button>
            </h5>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#settings">
            <div class="card-body">
                <form class="form-inline" method="post" action="{{ url_for('users.user_settings') }}" ,
                      enctype="multipart/form-data">
                    <div class="form-group mx-sm-3 mb-2">
                        {{ password_form.csrf_token }}
                        {{ password_form.name(type="password", class="form-control") }}
                        &nbsp; &nbsp;
                        {{ password_form.submit2(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


{% endblock %}