{% extends 'base.html' %}
{% block content %}

<div class="form-size">
    Your email: {{ session['email'] }}<br>
    {% if alerts %}
    Your alerts:
        <div class="list-group">
        {% for alert in alerts %}
            <a href="{{ alert.item.url }}" target="_blank" class="list-group-item list-group-item-action">
                <span class="alignleft">
                    {{ alert.item.name.capitalize() }} with desired price ${{ alert.price_limit }}
                </span>
                <span class="alignright">
                    <object type="fake object">
                        <a href="{{ url_for('alerts.edit_alert', alert_id=alert._id) }}">
                            <i class="fas fa-pen"></i>
                        </a>
                         &nbsp;
                        <a href="{{ url_for('alerts.remove_alert', alert_id=alert._id) }}">
                            <i class="fas fa-times-circle"></i>
                        </a>
                    </object>
                </span>
            </a>
        {% endfor %}
        </div>
    {% else %}
    You have no alerts! Would you like to <a href="{{ url_for('alerts.create_alert') }}">add one?</a>
    {% endif %}
</div>

{% endblock %}
